name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  NODE_OPTIONS: --test-reporter=tap

jobs:
  test:
    name: Unit Tests
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [22.x, 24.x, 25.x]
        os: [ubuntu-slim, macos-latest] # no windows because biome bugs on windows

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - run: npm ci
      - run: npm run ci
      - run: npm ci && npm run build
        working-directory: examples/vite-demo
      - run: npm ci && npm run build && node dist/index.mjs
        working-directory: examples/tsdown-demo

      # TODO
      # - run: npm test --silent | tee results.tap
      #   shell: bash -euo pipefail {0}

      - uses: nikeee/tap-summary@dist
        continue-on-error: true
        if: always()

  docs-build:
    if: ${{ github.event_name != 'pull_request' }}
    name: Build Docs
    runs-on: ubuntu-slim

    needs: test

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run docs
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./docs
